<div class='container-fluid'>
	<div class='pending-homepage row'>
		<h2>Items Pending Your Approval</h2>
		<hr>
		
		<%= render  'pending_approval',  pending_approvals: @pending_approvals  %>
	</div>

	<div class='pending-homepage'>
		<div>
			<p>asdf</p>
		</div>
	</div>
</div>