<h1>Auditlog</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Employee
      </th>
      <th>
        Week Starting
      </th>
      <th>
        Confirmed At
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
      <%= render @auditlogs %>
      
  </tbody>
  
</table>
<div class='d-flex justify-content-center'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>


