<h1>Auditlog</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        SatrtDate
      </th>
      <th>
        User
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
      <%= render @auditlogs %>
  </tbody>
</table>