.active {
  font-weight: 700;
}
.index-icons {
	font-size: 1.5em;
}

.index-icons:hover {
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 600px) {
	.col-md-3 {
		margin: 0!important;
	}
}

.btn {
	white-space: normal !important
}
